*{
    margin: 0px;
    padding: 0px;
}

/* hamburger menu*/
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 200vh;
  font-family: 'Cabin', Sans-serif;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #014c35;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #ffcc00;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #ffcc00, #ffcc00 20%, 
      transparent 20%, transparent 40%, 
      #ffcc00 40%, #ffcc00 60%, 
      transparent 60%, transparent 80%, 
      #ffcc00 80%, #ffcc00 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #014c35;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 11px black ;
}

#hamburger-menu h3 {
  color: silver;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: silver;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
    
}




#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}

#hamburger-menu {
    display: inline;
  }

/* css header */


header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:  #014c35;
    box-shadow: -1px 4px 11px black ;
}

.flexContainer{
    margin: 0px auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    height: 10vh;
    justify-self: center;
}

/* intro */

.intro{
    color: silver;
    margin-top: 20vh;
    background-color: #014c35;
    display: flex;
    width: 90vw;
    border-radius: 10px;
    margin-bottom: 30vh;
}

.introText{
  margin: 1vh 1vw;
}

.intro img{
    width: 50%;
    border-radius: 0px  10px 10px 0px;
    
}

.title{
    font-size: 150%;
    font-weight: bolder;
    margin-bottom: 5%;
}

/* ccs voor de vakken*/

.gridContainerLessons
{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2vw;
    gap: 2vw;

}

.lessonCard{
    padding: 20px;

    text-align: center;
    background-color: #ffcc00;
    border: 1px solid #ffcc00;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

/*versnellen*/

.versnellen{
    color: silver;
    margin-top: 20vh;
    background-color: #014c35;
    display: flex;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30vh;
}    
    
.versnellen img{
  width: 50%;
  border-radius:  10px 0px 0px 10px ;
  
}

/*css docenten*/


.profileRowOne{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2vw;
}
.profileRowOne{
  margin-bottom: 10vh;
}
.profileRowOne div, .profileRowTwo div{
  margin: 0 auto;
  width: 20vw;
  background-color: #ffcc00;
  border: #ffcc00 2vh solid;
  border-radius: 1vh 1vh 1vh 1vh;
  box-shadow: 1vh 1vh 1vh black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profileRowTwo{
  align-self: center;
 
}

.profileRowOne img, .profileRowTwo img{
  width: 50%;
  border: 0.5vw solid black;
  padding: 1vh;
  border-radius: 100vh;
}

.profileRowTwo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 2vw;
}

/*rooster*/

.rooster{
  margin: 0 auto;
  width: 90vw;
  background: #ffcc00;
  border-radius: 1vh 1vh 1vh 1vh;
  display: flex;
}


.rooster img{
  width: 70%;
  
  border-radius: 0vh 1vh 1vh 0vh;
}

/*footer*/
footer{
  padding: 2vh;
  background: #014c35;
  justify-content: space-between;
  margin-top: 30vh;
  color: silver;
  width: 100%;
}

footer div{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer div a{
  color: silver;
}
